@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-surface-light dark:bg-surface-dark text-gray-900 dark:text-gray-100 antialiased font-sans transition-colors duration-300;
  }
}

/* Custom Scrollbar - Elegant variant */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
  transition: background-color 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}